.sent_card {
  display: flex;
  margin: 1rem 0;
  p {
    margin: 0;
  }
}

.desc {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.detail_card {
  margin-left: 10px;
  min-width: 0;
}

.preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
